:root {
    /* wine */
    --primary-color: #720026;

    /* white */
    --bg-color: #ffffff;

    /* primary font color + background blue */
    --dark-blue: #051625;

    /* weak font color */
    --ghost-font: #838b95;

    /* link font color (light blue) */
    --link-font-color: #48cae4;
}

.catalog {
    border: 1px solid red;

    /* delete after */
    height: 100vh;
}

.catalog article {
    width: 100;
    text-align: center;

    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.catalog h2 {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

.catalog>article>small {
    color: var(--ghost-font);
    font-family: "Lato", sans-serif;
}

.card {
    width: fit-content;
    height: fit-content;

    position: relative;
    background-color: var(--bg-color);
    border-radius: 12px;
}

.card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 99%;
    background-image: linear-gradient(to top,  rgba(73, 119, 229, .25), transparent);
    border-radius: 12px;
    z-index: 1;
    top: 0;
    left: 0;
    
}

.card .details {
    width: 80%;
    height: 30%;
    position: absolute;
    bottom: -3rem;
    left: 50%;
    translate: -50% 0;
    z-index: 999;

    border-top: 5px solid var(--primary-color);
    background-color: var(--bg-color);
    box-shadow: 0px 0px 130px 1px var(--ghost-font);
    border-radius: 0 0px 12px 12px;
}

.card img {
    width: 16.5rem;
    height: 20.375rem;
    object-fit: cover;
    border-radius: 12px;
}

.card figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 22%;
}

.card h4 {
    font-size: 1.2rem;
}

.card h5 {
    font-family: "Lato", sans-serif;
    font-size: 1rem;
    color: var(--ghost-font);
}

.card span {
    font-weight: 550;
    font-size: 17px;
    color: var(--primary-color)
}
