:root {
    /* wine */
    --primary-color: #720026;

    /* white */
    --bg-color: #ffffff;

    /* primary font color + background blue */
    --dark-blue: #051625;

    /* weak font color */
    --ghost-font: #838b95;

    /* link font color (light blue) */
    --link-font-color: #48cae4;
}

.catalog {
    border: 1px solid red;

    /* delete after */
    height: 100vh;
}

.catalog article {
    width: 100;
    text-align: center;

}

.catalog h2 {
    font-size: 2.5rem;
    font-weight: 600;
    text-transform: capitalize;
}

.catalog > article > small {
    color: var(--ghost-font);
}
