:root {
    /* wine */
    --primary-color: #720026;

    /* white */
    --bg-color: #ffffff;

    /* primary font color + background blue */
    --dark-blue: #051625;

    /* weak font color */
    --ghost-font: #838b95;
    
    /* link font color (light blue) */
    --link-font-color: #48cae4;
}

#footer_content{
    background-color: var(--dark-blue);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contacts h1{
    margin-bottom: 0.75rem;
}

.footer_list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;

}

.footer_list p{
    font-family: "Lato";
    font-size: 15px;
}

.footer_list a{
    font-family: "Lato";
    font-size: 15px;
    color: var(--link-font-color);
}

#footer_copyright{
    display: flex;
    justify-content: center;
    background-color: var(--dark-blue);
    font-size: 15px;
    padding: 1.5rem;
    font-weight: 200;
}  

#footer {
    width: 100%;
    background-color: #051625;
    display: block;
}

.container-winery-logo {
    background-color: #ffffff;
    width: min-content;
    border: 1px solid #fff;
    border-radius: 10px;
    position: relative;
    bottom: 15px;
}

.footer-info {
    color: #ffffff;
}

.media-logos {
    position: relative;
    right: 10px;
    padding-top: 15px;
    padding-bottom: 10px;
    width: 200px;
    display: flex;
    justify-content: space-around;
}

.media-logos img:hover {
    cursor: pointer;
    transform: scale(1.2);
}
