#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
}

#container-main-menu{
    width: 500px;
}

.main-menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.main-menu h4:hover{
    transform:  scale(1.2);
}

#container-side-menu{
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: center;
}

.side-menu{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    cursor: pointer;
}

.side-menu img:hover{
    transform: scale(1.2);
}