:root {
    /* wine */
    --primary-color: #720026;

    /* white */
    --bg-color: #ffffff;

    /* primary font color + background blue */
    --dark-blue: #051625;

    /* weak font color */
    --ghost-font: #838b95;

    /* link font color (light blue) */
    --link-font-color: #48cae4;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
}

#container-main-menu {
    width: 500px;
}

.main-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}

.main-menu li {
    position: relative;
    list-style-type: none;
    margin-left: .75rem;
}

.main-menu li:hover {
    color: var(--primary-color);
}

.main-menu li::after {
    display: hidden;
}

.main-menu li:hover::after {
    content: '';
    width: 8px;
    aspect-ratio: 1;

    display: block;
    position: absolute;
    top: 50%;
    translate: -50% 0;
    right: -20px;

    background-image: url('../assets/caret-down.png');
    background-repeat: no-repeat;
    background-size: contain;

}

.winery-logo img {
    width: 5rem;
    aspect-ratio: 1;
    object-fit: contain;
}

#container-side-menu {
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: center;
}

.side-menu {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
    cursor: pointer;
    column-gap: .4rem;
}

.side-menu img:hover {
    transform: scale(1.2);
}
